<html>
<head>
	<title>Cari Budaya</title>
</head>

<body>
	 {% include 'includes/_navbar.html' %}
	 <style @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')>
		body {
			font-family:'Montserrat', sans-serif;
		}
		#bar {
			border-radius: 25px;
			border: 1px solid #E0E0E0;
			height: 25px;
			width: 200px;
		}
		#button {
			height: 30px;
			width: 100px;
			background: #FFFFFF;
			border: 1px solid #E0E0E0;
			box-sizing: border-box;
			border-radius: 25px;
		}
		table.result td, tr, th {  
		border: 1px solid #ddd;
		}
		table.result {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
    	word-wrap: break-word;
		}
		table.result td {
		padding: 5px;
		}
		#result2 {
		   color:rgb(255, 70, 70);
		   font-style:italic;
	   }
	</style>
	<h2>Kriteria Pencarian</h2>
	<p>Tekan langsung tombol "Cari" bila ingin menampilkan seluruh data budaya dalam sistem.</p>

	<form method="POST", action="" enctype = "multipart/form-data">
		<table cellspacing="5">
			<tr>
				<td><select name=cari id="bar">
						<option value="Nama">Nama Budaya</option>
						<option value="Tipe">Tipe Budaya</option>
						<option value="Asal Provinsi">Asal Provinsi Budaya</option>
                </select></td>
				<td> <input type="text" name=teks id="bar"> </td>
                <td align="right"><input type=submit value="Cari" id="button"></td>
			</tr>
		</table>
	</form>

	{% if result is defined %}
		{% if jumlah>0 %}
		<h3>Ditemukan {{ jumlah }} data dengan {{ jenis }} Budaya : <i>{{ teks }} </i></h3>
		<table class="result">
			<!-- Baris heading tabel yang akan muncul bila budaya yang dicari jumlahnya 1 atau lebih -->
			<tr align='center'>
					<th> Nama </th>
					<th> Tipe </th>
					<th> Asal Provinsi </th>
					<th> URL </th>
			</tr>
			{% for budaya in result %}
			<tr>
				<td>{{ budaya.nama }}</td>
				<td>{{ budaya.tipe }}</td>
				<td>{{ budaya.prov }}</td>
				<td>{{ budaya.url }}</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<h3 id=result2>Data dengan {{ jenis }} Budaya "{{teks}}" tidak ditemukan.</h3>
		<h4>Silahkan <a href="/tambahBudaya">Tambah Budaya</a> bila diperlukan.</h4>
		{% endif %}
	{% endif %}
</body>
</html>
