<html>
<head>
	<title>
		BudayaKB Lite
	</title>
</head>
<body>
	 {% include 'includes/_navbar.html' %}
	 <style @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')>
	 body {
		font-family:'Montserrat', sans-serif;
	}
	#button {
		height: 30px;
		width: 110px;
		background: #FFFFFF;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 25px;
	}
	#bar {			
		border-radius: 25px;
		border: 1px solid #E0E0E0;
		height: 25px;
		width: 250px;
	}
	#result1 {
		color:#18A0FB;
		font-style:italic;
	}
	#result2 {
		color:rgb(255, 70, 70);
		font-style:italic;
	}
	</style>
	
	<h2> Impor Budaya </h2>
	<form method="POST", action="" enctype = "multipart/form-data">
		<p>Pilih file CSV berisi data BudayaKB</p>
		<input type="file" name=file required>
		<input type=submit value="Import Data" id=button>
	</form>

	{% if result is defined %}
		{% if result>0 and jumlah>0 %}
			<h3 id=result1>Sukses mengimpor "{{ fname }}".</h3>
			<h4>Sekarang, BudayaKB memiliki total {{ result }} data budaya </h4>
		{% elif result == -1 %}
			<h3 id=result2> Pastikan "{{ fname }}" ada didalam satu folder yang sama dengan controller.</h3>
		{% else %}
			<h3 id=result2> Pastikan "{{ fname }}" telah sesuai dengan ketentuan.</h3>
			<ol>
				<li>Terdapat minimal 1 data dalam file, serta </li><br>
				<li>Memiliki format [Nama] , [Tipe] , [Asal Provinsi] , [URL] yang dipisahkan oleh tanda koma(,)</li>
			</ol>
			<br><h4>Sekarang, BudayaKB <i>masih</i> memiliki total {{ result }} data budaya</h4>
		{% endif %}
	{% endif %}
</body>
</html>



	
	
