<html>

<head>
	<title>Statistik Budaya</title>
</head>

<body>
	 {% include 'includes/_navbar.html' %}
	 <style @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')>
		body {
			font-family:'Montserrat', sans-serif;
		}
		#bar {
			border-radius: 25px;
			border: 1px solid #E0E0E0;
			height: 25px;
			width: 300px;
		}
		#button {
			height: 30px;
			width: 150px;
			background: #FFFFFF;
			border: 1px solid #E0E0E0;
			box-sizing: border-box;
			border-radius: 25px;
		}
		table, td, th {  
		border: 1px solid #ddd;
		}
		table {
		border-collapse: collapse;
		width: 50%;
		}
		th, td {
		padding: 10px;
		}
	   #result1 {
		   color:#18A0FB;
		   font-style:italic;
	   }
	   #result2 {
		   color:rgb(255, 70, 70);
		   font-style:italic;
	   }
	</style>

	<h2>Kriteria Pencarian Statistik Data Budaya</h2>
	<!--  TOMBOL SELECT OPTION -->
	<form method="POST", action="" enctype = "multipart/form-data">
		<select name=stat id="bar">
			<option value="All">All</option>
			<option value="Tipe">Tipe Budaya</option>
			<option value="Asal Provinsi">Asal Provinsi Budaya</option>
		</select>
		<input type=submit value="Tampilkan" id="button">
	</form>
	
	<!--  RESULT TABEL -->
	{% if result is defined %}

		{% if 'All' == result_nama %}
			<h3>BudayaKB memiliki total {{ result }} data budaya</h3>
			{% if result == 0 %}
			<h4 id=result2> Silahkan <a href="/imporBudaya">Impor Budaya</a> atau <a href="/tambahBudaya">Tambah Budaya</a> terlebih dahulu.</h4>
			{% endif %}

		{% else %}
			{% if jumlah>0 %}
			<table>
			<h3>Statistik Budaya berdasarkan {{ result_nama }} Budaya </h3>
				<tr align='center'>
					<th> Kriteria </th>
					<th> Jumlah </th>
				</tr>

				{% for budaya in result %}
				<tr>
					<td>{{ budaya }}</td>
					<td>{{ result[budaya] }}</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
				<h3>Tidak ada budaya yang dapat ditampilkan.</h3>
				<h4 id=result2>Silahkan <a href="/imporBudaya">Impor Budaya</a> atau <a href="/tambahBudaya">Tambah Budaya</a> terlebih dahulu.</h4>
			{% endif %}

		{% endif %}
	{% endif %}
</body>
</html>
