<html>
<head>
	<title>Tambah Budaya</title>
</head>

<body>
	 {% include 'includes/_navbar.html' %}
	 <style @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')>
		body {
		   font-family:'Montserrat', sans-serif;
	   }
	   #button {
		   height: 30px;
		   width: 110px;
		   background: #FFFFFF;
		   border: 1px solid #E0E0E0;
		   box-sizing: border-box;
		   border-radius: 25px;
	   }
	   #bar {			
		   border-radius: 25px;
		   border: 1px solid #E0E0E0;
		   height: 25px;
		   width: 250px;
	   }
	   #result1 {
		   color:#18A0FB;
		   font-style:italic;
	   }
	   #result2 {
		   color:rgb(255, 70, 70);
		   font-style:italic;
	   }
	</style>

	<h2>Tambah Budaya</h2>
	<form method="POST", action="" enctype = "multipart/form-data">
		<p>Masukkan data budaya yang akan ditambahkan ke dalam sistem</p>
		<table cellspacing="5">
			<tr>
				<td> Nama : </td>
				<td> <input type="text" required name=nama id="bar"> </td>
			</tr>
			<tr>
					<td> Tipe : </td>
					<td> <input type="text" required name=tipe id="bar"> </td>
			</tr>
			<tr>
					<td> Provinsi : </td>
					<td> <input type="text" required name=provinsi id="bar"> </td>
			</tr>
			<tr>
					<td> URL referensi : </td>
					<td> <input type="text" required name=url id="bar"> </td>
			</tr>
			<tr>
				<td></td>
					<td align="right"><input type=submit value="Tambah Data" id="button"></td>
			</tr>
		</table>
	</form>
	
	{% if result is defined %}

		{% if result == 1 %}
		<h3 id=result1>Sukses menambahkan "{{ result_nama }}"</h3>

		{% elif result == 0 %}
		<h3 id=result2>Data "{{ result_nama }}" sudah ada di dalam sistem</h3>
		
		{% endif %}

	{% endif %}

</body>
</html>
